# =========================================
# Dependencies
# =========================================
node_modules/

# =========================================
# Expo / React Native
# =========================================
.expo/
dist/
web-build/
expo-env.d.ts

# =========================================
# Native
# =========================================
/ios
/android

# =========================================
# Environment Variables
# =========================================
.env
.env.*
!.env.example

# =========================================
# Logs
# =========================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================================
# TypeScript
# =========================================
*.tsbuildinfo

# =========================================
# Prisma
# =========================================
/app/generated/prisma

# =========================================
# Certificates / Security
# =========================================
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# =========================================
# System Files
# =========================================
.DS_Store

# =========================================
# Temporary Files
# =========================================
*.orig.*
*.tmp
*.temp

# =========================================
# Kotlin
# =========================================
.kotlin/

# =========================================
# Example Project
# =========================================
app-example/    